@using BS_Zoom_Demo.Web.Models.Common.Modals
@model BS_Zoom_Demo.Web.Models.Meetings.EditMeetingModalViewModel
@{
    Layout = null;
}
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditMeeting")))

<div class="modal-body">
    <form name="MeetingEditForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="MeetingId" value="@Model.Meet.Id" />        
        <input type="hidden" value="@Model.Meet.MeetingId" id="meeting_id" />        
        <div class="row clearfix">
            <div class="col-md-4">
                <input type="text" name="topic_name" id="topic_name" value="@Model.Meet.TopicName" maxLength="100"
                        placeholder="topic name" class="form-control">
            </div>
            <div class="col-md-3">
                <input type="text" name="start_time" id="start_time" value="@Model.Meet.StartTime.ToString()" placeholder="start_time" class="form-control">
            </div>
            <div class="col-md-3">
                <input type="text" name="end_date_time" id="end_date_time" value="@Model.Meet.EndTime.ToString()" placeholder="end date time" class="form-control">
            </div>
            <div class="col-md-2">
                <input type="number" name="duration" id="duration" value="@Model.Meet.Duration" placeholder="duration" class="form-control">
            </div>
        </div>
        <br/>
        <div class="row" style="margin-bottom:auto; margin-top:auto;">
            <div class="col-md-2">
                <input type="password" name="meetting_password" id="meetting_password" value="@Model.Meet.MeetingPass" placeholder="password" class="form-control">
            </div>
            <div class="col-md-6">
                <input type="text" name="agenda" id="agenda" value="@Model.Meet.Description" placeholder="meeting description" class="form-control">
            </div>
            <div class="col-md-2">
                @Html.Label(L("AssignedPerson"))
            </div>
            <div class="col-md-2">
                @Html.DropDownList(
                                    "AssignedPersonId",
                                    Model.Teachers,
                                    new
                                    {
                                        @class = "form-control",
                                        id = "AssignedPersonCombobox"
                                    })
            </div>
        </div>
    </form>
</div>

@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/Views/MeetingManager/_EditMeetingModal.js"></script>